%h2 How can I make sure my Amazon AWS EC2 Reserved Instances are being used?
%p.first
  It's a very common question on the internet, don't worry.
%p
  There is no way you can assign a Reserved Instance to a particular active instance; Amazon will apply it at the billing time.
%p.featured
  So, if you don't want to be surprised with the bill at the end of the month, you could probably want to sign up at RIAuditor and
  be notified when you are not using any of your Reserved Instances.
%p
  All you need to do is to create an AWS IAM user with a special access (there will be a how-to in the next step)
