// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// colors theme: http://www.colourlovers.com/palette/1515745/Robot_Heart

html{
  font-family: sans-serif, 'Helvetica Neue';
}
#top-grid{
  background: #49007E;
  border-bottom: 8px solid #FF005B;
  color: white;
  padding-top: 40px;
}
footer{
  margin-top: 500px;
  background: #FFB238;
  border-top: 8px solid #FF7D10;
}
