html,
body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  font-family: sans-serif, 'Helvetica Neue';
  background-color: rgb(221, 83, 99);
  background-image: url(image_path('bg.jpg'));
  color: #eee;
  font-size: 13px;
  line-height: 1.5em;
}
a{
  color: #fff;
}
a:hover{
  color: #ddd;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding: 10px;
  border-bottom: 1px solid #ee575e;
  color: white;
}
#content {
  padding:10px;
  padding-bottom:115px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:80px;
  padding-top: 35px;
  position:absolute;
  bottom:0;
  left:0;
  color: rgba(255, 255, 255, 0.3);
}

/*Typography*/
h1{
  font-family: 'Raleway';
  font-weight: 100;
}
h2{
  font-family: 'Raleway';
  font-weight: 400;
}
h3{
  font-family: 'Raleway';
  font-weight: 400;
}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}



/*Tables*/

table {
  border-top: 1px solid #f1f1f1;
  td,th {
    padding: 7px 15px;
  }
  th{
    background: rgba(255, 255, 255, 0.1);
  }
  tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.05);
  }
  /*tr:nth-child(odd) {background: #FFF;}*/
}

/*Forms*/
label{
  display: block;
}
input[type="text"]{
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  padding: 5px;
  color: #fff;
  font-size: 1.5em;
  width: 80%;
  margin-bottom: 10px;
  font-weight: lighter;
}
