%h2 How to get AWS AIM access key?

%ul
  %li Go to the AWS console
  %li Go to the IAM (Identity & Access Management)
  %li Create a new user (let's call it: "riauditor")
  %li Use this rule:
%pre.code
  :escaped
                {
      "Statement": [
        {
          "Action": [
            "ec2:DescribeInstances",
            "ec2:DescribeReservedInstances",
          ],
          "Effect": "Allow",
          "Resource": "*"
        }
      ]
    }
